.delete-button {
  visibility: hidden;
  border: none;
  /* --bs-table-accent-bg: none;
  background-color: transparent; */
}

.table-row:hover .delete-button {
  visibility: visible;
  /* --bs-table-accent-bg: none;
  background-color: transparent; */
}
